<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="tests/test-boot.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="Immobiliare.it PHP Test Unit Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>